
\#*
abbrev_defs
atm-box.el
auto-save-list
%backup%~
backups/*
bookmarks
custom.el
custom.el~
.DS_Store
*elc
elim/
elpa/*
elpa-to-submit/jabber/jabber.info
elpa-to-submit/nxhtml/etc/schema/xhtml-loader.rnc
elpa-to-submit/nxhtml/etc/schema/xhtml-loader.rnc~
eshell/
helios.el
history
ido.last
image-dired/
loaddefs.el*
network-security.data
/#.newsrc-dribble#
.newsrc-dribble
.nnmail-cache
nova.el
oddmuse/*
.org-id-locations
places
remove/*
session*
smex-items
srecode-map.el
.svn
thumbs/*
tramp
transient/
url/cookies
