.org-id-locations
.newsrc-dribble
.nnmail-cache
*elc
\#*
abbrev_defs
atm-box.el
auto-save-list
%backup%~
backups/*
bookmarks
custom.el
custom.el~
.DS_Store
elim/
elpa/*
elpa-to-submit
eshell/
history
ido.last
image-dired/
oddmuse/*
image-dired/
loaddefs.el*
network-security.data
nova.el
places
remove/*
session*
smex-items
srecode-map.el
thumbs/*
tramp
transient/
url/cookies
